body{
    font-family: arial;
}

h1, h2{
    color: pink;
}

h2{
    font-style: italic;
    font-family: sans-serif;
}

ul li a{
    color: blueviolet;
}

ol li a{
    color: orange;
}